<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/essot_asset/img/favicon.png">

    <title id="titleContent" ng-controller="essotTitleController" ng-bind="pageTitle"></title>

    <!-- Bootstrap Core CSS -->
    <link href="/essot_asset/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/essot_asset/UItoTop/css/ui.totop.css" rel="stylesheet">
    <!-- Custom Stylesheet For This Template -->
    <link href="/essot_asset/css/stylesheet.css" rel="stylesheet">
    <link href="/essot_asset/css/main.css" rel="stylesheet">
    <link href="/essot_asset/css/font-awesome.min.css" rel="stylesheet">
    <!-- Tipuedrop Search Plugin -->
    <link rel="stylesheet" type="text/css" href="/essot_asset/tipuedrop/tipuedrop.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="/essot_asset/js/html5shiv.js"></script>
        <script src="/essot_asset/js/respond.min.js"></script>
        <![endif]-->



</head>

<body>

    <!--Header Portion -->
    <div id="headerContent" ng-controller="essotHeaderController" ng-include src="'/essot_includes/header'">
    </div>

    <!-- Body -->
    
    <div id='mainContentDiv' ng-app="essotApp" ng-controller="essotController">

     <!-- Social Sticky Sidebar Portion -->
            <div id="socialContent" ng-include src="'/essot_includes/social'">
            </div>

            
    <!-- Carousal -->

    <div class="container">
        <div id="slides">
            <div ng-repeat="slideItem in productData.bannerList" slide-repeat-directive>
                <a  href="/product/{{slideItem}}" >
                    <img u="image" ng-src="/essot_img/{{slideItem}}_banner.jpg">
                </a>
            </div>
           <!-- <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="fa-chevron-left icon-large"></i></a>
            <a href="#" class="slidesjs-next slidesjs-navigation"><i class="fa-chevron-right icon-large"></i></a> -->
        </div>
    </div>

    <!-- Carousal Ends here-->


    <br>

    <!-- Category Products-->

    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-12 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                         <div class="subpage-title">
                            <h5 ng-bind="productData.headerText"></h5>
                            </div>
                          <br>  


                        <div ng-repeat="productItem in productData.products" class="col-sm-4" style="padding: 0px 2px 0px 2px;">
                            <a href="/product/{{productItem.skuName}}">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    
                                    <div class="productinfo text-center">
                                        <!--<img u="image" ng-src="http://placehold.it/270x250"/> -->
                                        <img u="image" ng-src="/essot_img/{{productItem.skuName}}_medium.jpg"/>
                                        <p ng-bind="productItem.name"></p>
                                    </div>
                                    
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2 style="font-family:rupee;font-size:20px" ng-bind="productItem.price  | currency:'R '"></h2>
                                            <p class="product-overview">
                                                    &bull; {{productItem.topFeatures[0]}} <br>
                                                    &bull;  {{productItem.topFeatures[1]}}
                                            </p>     
                                            <div class="product-logo" align="center"><img src="/essot_asset/img/brand/product-logo.png" alt="EssotGlobal"/></div>
                                        </div>
                                    </div>
                                    <!--<img src="assets/img/new.png" class="new" alt="" />
                                    <img src="assets/img/sale.png" class="new" alt="" /> -->
                                </div>
                            </div>
                            </a>
                        </div>

                        </div>
                        <!--features_items-->



                    </div>
                </div>
            </div>
    </section>


    <!-- Footer Portion-->

            <div id="footerContent" ng-include src="'/essot_includes/footer'"></div>

            <!-- Modal Windows Portion-->

            <div id="aboutUsContent" ng-include src="'/essot_includes/aboutus'"></div>
            <div id="contactUsContent" ng-include src="'/essot_includes/contactus'"></div>
            <div id="privacyPolicyContent" ng-include src="'/essot_includes/privacypolicy'"></div>
            <div id="tnCContent" ng-include src="'/essot_includes/termsandconditions'"></div>

    </div>

    <!-- Bootstrap JS & Others JavaScript Plugins
                ================================================== -->
    <!-- Placed At The End Of The Document So Page Loads Faster -->
    <script src="/essot_asset/js/jquery-2.0.3.min.js"></script>
    <script src="/essot_asset/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/essot_asset/bootstrap/js/bootstrap.min.js"></script>
    <script src="/essot_asset/UItoTop/js/easing.js"></script>
    <script src="/essot_asset/UItoTop/js/jquery.ui.totop.min.js"></script>
    
    <script src="/essot_asset/js/common.js"></script>
    <script type="text/javascript" src="/essot_asset/tipuedrop/tipuedrop_content.js"></script>
    <script type="text/javascript" src="/essot_asset/tipuedrop/tipuedrop.js"></script>
    <!-- Slick Slider Carousal -->
    <script type="text/javascript" src="/essot_asset/slick/slick.js"></script>
    <script type="text/javascript" src="/essot_asset/js/jquery.slides.min.js"></script>
    <script type="text/javascript" src="/essot_asset/js/totop.js"></script>

    <script type="text/javascript" src="/essot_asset/js/angular/angular.min.js"></script>
    <script type="text/javascript" src="/essot_asset/js/angular/essot-category.js"></script>
    <script type="text/javascript" src="/essot_asset/js/angular/essot-header.js"></script>
    <script type="text/javascript" src="/essot_asset/js/angular/essot-title.js"></script>
</body>
</html>
