<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title id="titleContent" ng-controller="essotTitleController" ng-bind="pageTitle"></title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/UItoTop/css/ui.totop.css" rel="stylesheet">
    <!-- Custom Stylesheet For This Template -->
    <link href="assets/css/stylesheet.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- Tipuedrop Search Plugin -->
    <link rel="stylesheet" type="text/css" href="assets/tipuedrop/tipuedrop.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <![endif]-->



</head>

<body>

    <!--Header Portion -->
    <div id="headerContent" ng-controller="essotHeaderController" ng-include src="'header.html'">
    </div>

    <!-- Body -->
    
    <div id='mainContentDiv' ng-app="essotApp" ng-controller="essotController">

     <!-- Social Sticky Sidebar Portion -->
            <div id="socialContent" ng-include src="'social.html'">
            </div>

            
    <!-- Carousal -->

    <div class="container">
        <div id="slides">
            <div ng-repeat="slideItem in productData.bannerList" slide-repeat-directive>
                <a  href="product.html" >
                    <img u="image" ng-src="http://placehold.it/1020x456">
                </a>
            </div>
            <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="fa-chevron-left icon-large"></i></a>
            <a href="#" class="slidesjs-next slidesjs-navigation"><i class="fa-chevron-right icon-large"></i></a>
        </div>
    </div>

    <!-- Carousal Ends here-->


    <br>

    <!-- Category Products-->

    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-12 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                         <div class="subpage-title">
                            <h5>FEATURED PRODUCTS</h5>
                            </div>
                          <br>  


                        <div ng-repeat="productItem in productData.products" class="col-sm-4" style="padding: 0px 2px 0px 2px;">
                            <a href="product.html">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    
                                    <div class="productinfo text-center">
                                        <!--<img u="image" ng-src="http://placehold.it/270x250"/> -->
                                        <img u="image" ng-src="http://placehold.it/270x250"/>
                                        <p ng-bind="productItem.name"></p>
                                    </div>
                                    
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2 style="font-family:rupee;font-size:20px" ng-bind="productItem.price  | currency:'R '"></h2>
                                            <p class="product-overview">
                                                    &bull; This is an amazing product <br>
                                                    &bull;  Super awesome stuffs 
                                            </p>     
                                            <div class="product-logo" align="center"><img src="assets/img/brand/product-logo.png" alt="EssotGlobal"/></div>
                                        </div>
                                    </div>
                                    <!--<img src="assets/img/new.png" class="new" alt="" />
                                    <img src="assets/img/sale.png" class="new" alt="" /> -->
                                </div>
                            </div>
                            </a>
                        </div>

                        </div>
                        <!--features_items-->



                    </div>
                </div>
            </div>
    </section>


    <!-- Footer Portion-->

            <div id="footerContent" ng-include src="'footer.html'"></div>

            <!-- Modal Windows Portion-->

            <div id="aboutUsContent" ng-include src="'aboutus.html'"></div>
            <div id="contactUsContent" ng-include src="'contactus.html'"></div>
            <div id="privacyPolicyContent" ng-include src="'privacypolicy.html'"></div>
            <div id="tnCContent" ng-include src="'termsandconditions.html'"></div>

    </div>

    <!-- Bootstrap JS & Others JavaScript Plugins
                ================================================== -->
    <!-- Placed At The End Of The Document So Page Loads Faster -->
    <script src="assets/js/jquery-2.0.3.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/UItoTop/js/easing.js"></script>
    <script src="assets/UItoTop/js/jquery.ui.totop.min.js"></script>
    
    <script src="assets/js/common.js"></script>
    <script type="text/javascript" src="assets/tipuedrop/tipuedrop_content.js"></script>
    <script type="text/javascript" src="assets/tipuedrop/tipuedrop.js"></script>
    <!-- Slick Slider Carousal -->
    <script type="text/javascript" src="assets/slick/slick.js"></script>
    <script type="text/javascript" src="assets/js/jquery.slides.min.js"></script>
    <script type="text/javascript" src="assets/js/totop.js"></script>

    <script type="text/javascript" src="assets/js/angular/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/angular/essot-category.js"></script>
    <script type="text/javascript" src="assets/js/angular/essot-header.js"></script>
    <script type="text/javascript" src="assets/js/angular/essot-title.js"></script>
</body>
</html>
